@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #141414;
}

li, a {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #D5D5D5;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10%;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #27B159;
}

.current-page {
  color: #27B159;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #FFFFFF;
}

p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #D5D5D5;
}

.generate-button {
  padding: 12px 70px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  background: linear-gradient(90deg, rgba(75,166,221,1) 0%, rgba(36,179,75,1) 100%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

.generate-button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: translateY(-7px);
}

.container {
  text-align: center;
  line-height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
